<html>
    <head>

    </head>
    
    <body>
        <form method="POST" action="/login">
            <input required type="email" placeholder="email" name="email">
            <input required type="password" placeholder="password" name="password">
            <button type="submit">Login</button>
        </form>
    </body>
</html>