<html>
    <head>

    </head>
    
    <body>
        <form method="POST" action="/signup">
            <input required type="text" placeholder="First Name" name="fName">
            <input required type="text" placeholder="Last Name" name="lName">
            <input required type="email" placeholder="email" name="email">
            <input required type="password" placeholder="password" name="password">
            <button type="submit">Sing Up</button>
        </form>
    </body>
</html>