<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GBU Admissions</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="content">
      <div class="nav">
        <img src="assets/logo.png" alt="logo" width="100px" height="100px%" />
        <div class="intro">
          <div class="banner">
            Gautam Buddha University Admission Portal
          </div>
          <div class="tagline">
            Gautam Buddha University, Established by the Uttar Pradesh Gautam
            Buddha University Act 2002 UP Act No. 9 of 2002
          </div>
          <a
            href="http://gbu.ac.in/NAAC/NAAC%20Certificate_31Dec18.jpg"
            target="blank"
            >Approved by UGC under Section 12-B. NAAC accredited with B+
            Grade</a
          >
        </div>
      </div>
      <div class="formcontainer">
        <form class="regform" action="/signup" method="POST">
          <div class="head">Registration</div>
          <input
            class="formip"
            type="text"
            name="fName"
            placeholder="First Name"
          />
          <input
            class="formip"
            type="text"
            name="lName"
            placeholder="Last Name"
          />
          <input
            class="formip"
            type="email"
            name="email"
            id="email"
            placeholder="Enter Your Email"
          />
          <input
            class="formip"
            type="password"
            name="password"
            id="password"
            placeholder="Choose A Password"
          />
          <input type="submit" class="formbtn" value="Register" />
          <a href="/login">Already Registered? Login here</a>
        </form>
        <img src="/assets/reg.jpg" alt="gbuimg" width="50%" />
      </div>
    </div>
    <footer>
      Copyright © 2009 Gautam Buddha University. All rights reserved.
    </footer>
  </body>
</html>
